<h2 mat-dialog-title>About Cherish</h2>
<mat-dialog-content class="mat-typography">
    <p>Cherish is a web app designed and written by Ruby Labausa, Dom Theis, and Patrick Dougherty. It provides an
        avenue for people to discuss their favorite places and things to do. You can <b>enter a submission of your
            own</b>, <b>read about other people's experiences</b>, and <b>check out these experiences on the map</b>.
    </p>
    <p>We hope you enjoy!</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
    <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
</mat-dialog-actions>