<div class="map-container">
    <app-map 
        [allowDraggableMarker]="true" 
        [showMarkerOnSearch]="true" 
        [showPopUpWithLocation]="false"
        (locationSelected)="onLocationSelected($event)"
        (markerDragged)="onMarkerDrag($event)"
    >
    </app-map>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
        <label for="latitude">Latitude</label>
        <input type="text" id="latitude" name="latitude" formControlName="latitude">

        <div>
            <label for="longitude">Longitude</label>
            <input type="text" id="longitude" name="longitude" formControlName="longitude">
        </div>
    </div>
    <div>
        <label for="title">Title</label>
        <input id="title" formControlName="title" type="text">
    </div>
    <div>
        <label for="locationTitle">Location</label>
        <input id="locationTitle" formControlName="locationTitle" type="text">
    </div>
    <div>
        <input 
            type="file" 
            id="image" 
            formControlName="image" 
            name="image"
            accept="image/png, image/jpeg"
            >
    </div>
    <div>
        <textarea id="body" name="body" formControlName="body" cols="30" rows="10"></textarea>
    </div>
    <button 
        id="uploadBtn" 
        name="uploadBtn" 
        type="submit" 
        [disabled]="form.invalid">
        Upload
    </button>
</form>