.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 300px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.brand {
  padding: 0.75rem;
  font-style: italic;
  font-size: larger;

  a {
    text-decoration: none;
    color: #ffffff;
  }
}

a {
  color: #ffffff;
  text-decoration: none;
}

.nav-item {
  margin: 0.75rem;
  font-weight: lighter;
  font-size: medium;
}

a {
  mat-icon {
    vertical-align: middle !important;
  }
}