<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="upload" (click)="drawer.close()">
        <mat-icon>post_add</mat-icon>
        Create an Entry
        </a>
      <a mat-list-item routerLink="stories" (click)="drawer.close()">
        <mat-icon>auto_stories</mat-icon>
        View the stories
      </a>
      <a mat-list-item (click)="openAboutDialog($event)">
        <mat-icon>help</mat-icon>
        How this site works
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span class="brand">
        <a href="">Cherish</a>
      </span>

      <ng-container *ngIf="(isHandset$ | async) === false">
        <span class="nav-item">
          <a href="" routerLink="upload">Create an Entry</a>
        </span>
        <span class="nav-item">
          <a href="" routerLink="stories">View the stories</a>
        </span>
        <span class="nav-item">
          <a href="" (click)="openAboutDialog($event)">How this site works</a>
        </span>
      </ng-container>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
